form {
  text-align: center;
  color: blue;
  font-size: 120%;
}
label {
  font-size: 120%;
}
h2 {
  color: blue;
  text-align: center;
}
#bt {
  background-color: blue;
  color: white;
  border-radius: 20px;
  font-size: 110%;
  width: 10%;
}
#bt:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
}
input {
  font-size: 105%;
  border: 2px solid blue;
}
select {
  background-color: blue;
  color: white;
  border-radius: 20px;
  border: 1px solid blue;
  font-size: 90%;
}
