<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Anime</title>
    <link rel="stylesheet" type="text/css" href="exerLayout.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="https://www.crunchyroll.com/pt-br" target="_blank">Crunchyroll</a></li>
          <li><a href="https://www.netflix.com/br/browse/genre/7424" target="_blank">Netflix</a></li>
          <li><a href="https://myanimelist.net/" target="_blank">My Anime List</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="texto">
        <h1>Resumo</h1>
        <p>
          Anime é um termo que define os desenhos animados de origem japonesa e também os elementos relacionados a estes desenhos. No Japão, anime se
          refere à animação em geral. O anime é tradicionalmente desenhado a mão. Porém, com o desenvolvimento dos recursos tecnológicos de animação,
          principalmente a partir da década de 1990, muitos animes passaram a ser produzidos em computadores.
        </p>
        <section id="imgtexto">
          <img alt="logo" src="img/logo.png" width="500" height="300" />
        </section>
      </section>
      <section>
        <table border="10">
          <tr>
            <td><img alt="krul" class="img" id="i1" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i2" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i3" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i4" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i5" src="img/krul.jpg" /></td>
          </tr>
          <tr>
            <td><img alt="krul" class="img" id="i6" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i7" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i8" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i9" src="img/krul.jpg" /></td>
            <td><img alt="krul" class="img" id="i10" src="img/krul.jpg" /></td>
          </tr>
        </table>
      </section>
      <br />
      <section>
        <img alt="fundo" id="imgfundo" src="img/sao.jpg" width="640px" height="300px" />
        <img alt="fundo2" id="imgfundo2" src="img/attack-on-titan.jpg" width="640px" height="300px" />
      </section>
    </main>
    <footer>
      <img alt="footer" id="imgfooter" src="img/anime.jpg" />
    </footer>
  </body>
</html>
